
<%= render 'slider' %>

<div id="page-content" style="background-color:white">
	<%= render 'navigation' %>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="content-block"> </div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="content-block-2 content-block"> </div>
		</div>
	</div>
</div>


	
</div>