
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="store-image"> </div>
			<div class="store-info"> 
				<h3> BARRANQUILLA: </h3>
				<h4> Palmas Mall</h4>
				<p>  Cra 51B no 82-100 Local 3 </p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="store-image"> </div>
			<div class="store-info"> 
				<h3> CARTAGENA:  </h3>
				<h4> St Dom </h4>
				<p>  Clle Santo Domingo no 33-70</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="store-image"> </div>
			<div class="store-info"> 
				<h3> BOGOTA: </h3>
				<h4> The Back Room </h4>
				<p>  Cra 13 # 79-20 Local 102 </p>
			</div>
		</div>
	</div>
</div>


