
#slider {
    position: fixed;
    z-index: -1;
}

#carousel-example-generic {
    z-index: -1;
}

#img1 {
	width: 100%;
	padding-bottom: 50%;
	background-color: white;
}

#img2 {
	width: 100%;
	padding-bottom: 50%;
	background-color: white;
}

#img3 {
	width: 100%;
	padding-bottom: 50%;
	background-color: white;
}

.carousel.fade
{
    opacity: 1;

    .item
    {
        -moz-transition: opacity ease-in-out .7s;
        -o-transition: opacity ease-in-out .7s;
        -webkit-transition: opacity ease-in-out .7s;
        transition: opacity ease-in-out .7s;
        left: 0 !important;
        opacity: 0;
        top:0;
        position:absolute;
        width: 100%;
        display:block !important;
        z-index:1;
        &:first-child{
            top:auto;
            position:relative;
        }

        &.active
        {
            opacity: 1;
            -moz-transition: opacity ease-in-out .7s;
            -o-transition: opacity ease-in-out .7s;
            -webkit-transition: opacity ease-in-out .7s;
            transition: opacity ease-in-out .7s;
            z-index:2;
        }
    }
}