
.navbar-default {
	margin-bottom: 0px;
	border-top: 1px solid black;
	position: relative;
	top: -1px;
}

#brand-logo {
	// position: relative;
	// top: -15px;
	margin-left:48px;
}

.nav {
	padding-right: 100px;

	li {
		padding-right: 9px;
		padding-left: 9px;
	}

	a {
		font-family: 'Syncopate', sans-serif;
		font-size: 120%;
	}

}

.for-fixed {
	position: fixed;
}

#logo-bar {
	background-color: black;
	height: 20px;
	width: 100%;
	margin-bottom: 6px;
	z-index: 50;
}

#logo-placeholder {
	background-color: transparent;
	height: 20px;
	width: 100%;
	margin-bottom: 6px;
	z-index: -2;
}

#logo-bar img {
	position: absolute;
	left: 80px;
}

